.item {
    font-size: 1.2rem;
    list-style-type: none;
    height: 30px;
    margin: 25px 0px;
}

.checkbox {
    margin-right: 30px;
}

.item button {
    font-size: 13px;
    background: #f1f3f4;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    height: 25px;
    width: 25px;
    margin: -10px 0 0 10px;
}

.textInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfdfdf;
}