.header {
    font-size: 1.2rem;
    list-style-type: none;
    padding: 17px 0px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 3rem;
}

.itemContainer {
    /* width: 100%;
    border: 1px solid #000; */
}

.headerItem {
    float: left;
    width: 25%;
}